TERMSYNC_PORT=7373
TERMSYNC_HTTP_PORT=8080
TERMSYNC_DB_PATH=./data/termsync.db
TERMSYNC_DOWNLOADS_DIR=./downloads
TERMSYNC_JWT_SECRET=change-this-to-a-random-secret

TERMSYNC_DEFAULT_AI_API_KEY=
TERMSYNC_DEFAULT_AI_BASE_URL=https://ark.cn-beijing.volces.com/api/coding/v3
TERMSYNC_DEFAULT_AI_MODEL=DeepSeek-V4-Pro
